html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #877A6E;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: #161412;
    width: 340px;
    height: 510px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 3px;
    display: flex;
    justify-content: center;
    padding: 35px 24px;
    flex-direction: column;
    gap: 45px;
}

#display-box {
    background-color: #65AE5B;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px 2px #232e21;
    height: 120px;
}

#buttons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 5px;
}

.button {
    width: 70px;
    border-radius: 11px;
    box-shadow: 0px 2px 0px 1px gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Orbitron';
    font-weight: 900;
}

.button:active {
    box-shadow: none;
}

.zero {
    width: 155px;
}

.number {
    background-color: #51493D;
}

.red {
    background-color: #883A30;
}

.operator {
    background-color: #F5B841;
    font-size: 23px;
}

#equals {
    margin-right: 0.5px;
}