@font-face {
    font-family: "DIGITAL";
    src: url("./fonts/DIGITALDREAM.ttf") format("truetype");
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: #433E37;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    background-color: #161412;
    width: 340px;
    height: 510px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px 4px;
    display: flex;
    justify-content: center;
    padding: 35px 24px;
    flex-direction: column;
    gap: 45px;
}

#display-box {
    background-color: #65AE5B;
    border-radius: 4px;
    box-shadow: inset 0px 0px 5px 2px #232e21;
    height: 120px;
    font-family: "DIGITAL";
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

#buttons {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 0 5px;
}

.button {
    width: 70px;
    border-radius: 11px;
    box-shadow: 0px 2px 0px 1px #3c3535;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Orbitron';
    font-weight: 900;
}

.button:active {
    box-shadow: none;
}

.zero {
    width: 155px;
}

.number {
    background-color: #51493D;
}

.red {
    background-color: #883A30;
    box-shadow: 0px 2px 0px 1px #762424;
}

.operator {
    background-color: #D5920B;
    box-shadow: 0px 2px 0px 1px #8c6d13;
    font-size: 23px;
}

#equals {
    margin-right: 0.5px;
}

#result {
    margin-left: auto;
    margin-right: 18px;
    opacity: 0.7;
    font-size: 17px;
}

#display {
    margin-left: 18px;
    font-size: 19px;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

#display::after {
    width: 12px;
    height: 2px;
    content: "";
    display: inline-block;
    background: black;
    animation: cursor-blink 2s steps(2) infinite;
}

h3 {
    position: absolute;
    margin-left: 1150px;
    margin-top: 600px;
    font-family: "Merienda", cursive, sans-serif;
    font-size: 20px;
    color: #0B0A09;
}

a {
    text-decoration: none;
    color: #65AE5B;
}